<div class="container">
  <% @urls.in_groups_of(3) do |url1, url2, url3| %>
    <div class="row">
      <%= render "url", url: url1 %>
      <% if url2 %>
        <%= render "url", url: url2 %>
      <% end %>
      <% if url3 %>
        <%= render "url", url: url3 %>
      <% end %>
    </div>
  <% end %>
</div>
